* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

a {
    display: block;
    margin: 0 auto;
    width: 1440px;
    cursor: pointer;
}

img {
    display: block;
    width: 1440px;
}