@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  background: #F5F8FB;
  font-family: "Pretendard";
  font-size: 18px;
  line-height: 1.6;
}
body a {
  position: relative;
  color: #268DFF;
  font-weight: 600;
  text-decoration: none;
}
body a, body button {
  cursor: pointer;
}
body h1 {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  color: rgba(2, 15, 50, 0.8);
  cursor: default;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}
section:not(:first-of-type) .container {
  padding: 100px 0;
}
section svg:first-child {
  margin-bottom: 20px;
}
section p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
section button:last-child {
  margin-top: 40px;
  background: none;
}
section .img-single {
  display: block;
  margin: 48px auto 0;
}
section .img-single + .img-single {
  margin-top: 24px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 100%;
}

.hero {
  height: 640px;
  border-bottom: 8px solid #020F32;
  background: #D9F6FF;
  background: #D9F6FF url("../asset/img/bg-hero.png") no-repeat center;
  background-size: cover;
  box-shadow: 0 8px 16px rgba(2, 15, 50, 0.2);
}
.hero header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .logo {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 110px;
  margin-left: -168px;
  width: 336px;
}
.hero img[class^=decomsg] {
  position: absolute;
}
.hero img[class^=decomsg].decomsg00 {
  left: 50%;
  top: 200px;
  margin-left: -400px;
  width: 223px;
}
.hero img[class^=decomsg].decomsg01 {
  right: 50%;
  top: 200px;
  margin-right: -400px;
  width: 223px;
}
.hero img[class^=decomsg].decomsg02 {
  right: 50%;
  top: 60px;
  margin-right: -286px;
  width: 151px;
}
.hero .with {
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -217px;
  width: 434px;
  height: 68px;
}
.hero .decothem {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -596px;
  width: 1191px;
  height: 484px;
}
.hero .lineup {
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: -60px;
  margin-left: -543px;
  width: 1086px;
  height: 152px;
}

.story {
  border-bottom: 1px solid #EBF0F6;
}
.story .container {
  max-width: 1080px;
}
.story .question {
  padding: 6px 12px;
  background: #F5F8FB;
  font-size: 24px;
  font-weight: 800;
  border-radius: 4px;
}
.story .question::before {
  content: "🎙";
  margin-right: 8px;
  font-weight: 400;
  font-size: 24px;
}
.story img {
  margin-top: 40px;
  max-width: 980px;
}
.story img:first-child {
  margin: 0;
}
.story p {
  margin-top: 40px;
}
.story p:last-of-type {
  font-size: 24px;
}
.story p:last-of-type strong {
  color: rgba(2, 15, 50, 0.8);
}
.story strong {
  color: #002B6C;
  font-weight: 800;
}
.story ol {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 0;
  padding: 24px 24px 24px 56px;
  max-width: 720px;
  background: #F5F8FB;
  font-weight: 500;
  font-size: 20px;
  border-radius: 24px;
  list-style: none;
  counter-reset: list-number;
}
.story ol li {
  counter-increment: list-number;
  position: relative;
}
.story ol li::before {
  content: counter(list-number) ".";
  position: absolute;
  left: -24px;
  top: 0;
  color: rgba(2, 15, 50, 0.4);
  font-weight: 700;
}
.story ol li + li {
  margin-top: 8px;
}

.curriculum {
  background: #020F32 url("../asset/img/bg-curriculum.png") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
}
.curriculum::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#002B6C 35%, rgba(0, 43, 108, 0) 100%);
}
.curriculum img {
  margin-top: 40px;
  max-width: 1080px;
}
.curriculum img + img {
  margin-top: 24px;
}

.area {
  background: #020F32 url("../asset/img/bg-area.png") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
}
.area::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#002B6C 35%, rgba(0, 43, 108, 0) 100%);
}
.area .coach {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
.area .coach :nth-child(1),
.area .coach :nth-child(6) {
  margin-left: 160px;
}
.area .coach :nth-child(2),
.area .coach :nth-child(7) {
  margin-right: 160px;
}

.weare {
  border-bottom: 1px solid #EBF0F6;
}

.seoeffect {
  border-bottom: 1px solid #EBF0F6;
  background: #F5F8FB;
}

.community .banners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.community .banners:first-of-type {
  margin-top: 48px;
}

footer {
  border-top: 1px solid #EBF0F6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 100px;
  width: 100vw;
  font-size: 15px;
}
footer .container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1080px;
  overflow: hidden;
}
footer .info svg {
  margin-bottom: 20px;
}
footer .info nav {
  margin-top: 24px;
}
footer .info a {
  color: rgba(2, 15, 50, 0.8);
}
footer .info a:hover {
  text-decoration: underline;
}
footer .info a + a::before {
  content: "|";
  padding: 0 12px;
  color: rgba(2, 15, 50, 0.4);
  font-weight: 200;
}
footer .info strong + strong::before {
  content: "|";
  padding: 0 12px;
  color: rgba(2, 15, 50, 0.4);
  font-weight: 200;
}
footer .sns {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
footer .sns button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 12px;
  background: #F5F8FB;
  color: rgba(2, 15, 50, 0.6);
  font-weight: 500;
  font-family: "Pretendard";
  font-size: 16px;
  border-radius: 4px;
}

.progress {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 8px;
}
.progress::after {
  content: "";
  display: flex;
  width: 0%;
  height: 8px;
  background: linear-gradient(90deg, #002B6C 0%, #268DFF 100%);
  -webkit-backdrop-filter: 8px;
          backdrop-filter: 8px;
  -webkit-animation: progress 1s linear;
          animation: progress 1s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes progress {
  to {
    width: 100%;
  }
}

@keyframes progress {
  to {
    width: 100%;
  }
}